.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
nav ul li i {
    display: inline !important;
    margin-right: 8px;
}
.nav-wrapper{
    background-color: #fafafa !important;
}
