@page {
    size: auto;  /* auto is the initial value */
    margin: 4px; /* this affects the margin in the printer settings */
}
@media print {
    html * {
        visibility: hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 50px;
        top: 0;
    }
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
nav ul li i {
    display: inline !important;
    margin-right: 8px;
}
.nav-wrapper{
    background-color: #fafafa !important;
}
.lang,.educationItem,.workItem{
    /*border: 1px solid;*/
}
#education,#languages,#work{
    /*border: 2px solid;*/
}
.rol,.institution,.language_name,.enterprise,.projectName{
    font-weight: bold;
    font-size: large;
    margin-top: 12px;
}
.period_finish,.period_init{
    display: inline;
}
.programmingItem,.networkItem,.toolsItem{
    display: inline-block;
}
.demoImage{
    width: 120px;
    display: inline;
    /*height: 120px;*/
}
.toolsItem{
    text-transform: capitalize;
}
.projectItem{
    padding: 8px;
}
.parallax-container {
    height: 1800px;
}
.projectDescription{
    text-align: justify;
    padding: 15px;
    font-size: large !important;
}
.projectSmallDescription{
    margin-top: 20px;
}
.carousel.carousel-slider.initialized{
    min-height: 60vh !important;
    margin-bottom: 50px;
}
.keywordList{
    margin-top: 30px; 
}
.programmingItem, .networkItem,.toolsItem{
    margin-left: 12px !important;
}
.pLanguage{
    display: block;
}
.pLevel{
    font-size: smaller;
}
.contestItem .title{
    display: block;
    font-weight: bold;
    font-size: large;
}
.login-info,#display-login{
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
.invisible{
    display: none;
}
.projects-container{
    margin-top: 16px;
}
.main-menu{
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 5;
    width: 17%;
}

div[ng-view].ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}



/*
.ng-hide-remove {
    -webkit-animation: slideOutDown 1.5s;
    animation: slideOutDown 1.5s;
}

.ng-hide-add {
   -webkit-animation: flipOutX 2.5s;
   animation: flipOutX 2.5s;
   display: block !important;
}*/
