<html lang="en" ng-app="cvApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <base href="/" >
        <title>Curriculum Vitae Juan Camilo</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


        <!--  Scripts-->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/firebase/firebase.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="node_modules/angularfire/dist/angularfire.js"></script>

        <script src="js/materialize.js"></script>
        <script src="app.js"></script>
        <script src="/js/cvController.js"></script>

    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.php" class="brand-logo"><img src="images/logo.png" alt="Geo Proyecciones" style="width:240px;height:64px;"></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons cyan-text text-darken-4">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html"><i class="material-icons grey-text text-darken-4">new_releases</i><span class="grey-text text-darken-4">Inicio</span></a></li>
                        <li><a href="juan"><i class="material-icons grey-text text-darken-4">shopping_cart</i><span class="grey-text text-darken-4">Productos</span></a></li>
                        <li><a href="news.php"><i class="material-icons grey-text text-darken-4">forum</i><span class="grey-text text-darken-4">Noticias</span></a></li>
                        <li><a class="dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i><span class="grey-text text-darken-4">Languages</span></a></li>
                    </ul>				
                </div>
            </nav>
        </div>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="index.php"><i class="material-icons grey-text text-darken-4">new_releases</i><span class="grey-text text-darken-4">Inicio</span></a></li>
            <li><a href="products.php"><i class="material-icons grey-text text-darken-4">shopping_cart</i><span class="grey-text text-darken-4">Productos</span></a></li>
            <li><a href="news.php"><i class="material-icons grey-text text-darken-4">forum</i><span class="grey-text text-darken-4">Noticias</span></a></li>
        </ul>

        <ul ng-controller="languagesController as lan"id="dropdown1" class="dropdown-content">
            <li ng-repeat="l in lan.languages">
                <a href="" ng-click="lan.updateLanguage(l)">{{l}}</a>
            </li>
        </ul>
        <div ng-view=""></div>

    </body>
</html>
