<div class="container" ng-controller="personalDataController as con">
    <div class="row valign-wrapper card-panel" >
        <img src="images/me.jpg" alt="myself" class="circle responsive-img col s2 offset-s1">
        <div class="col s6 offset-s1">
            <div id="full_name">{{con.contact.name}}</div>
            <div id="adress"><address>{{con.contact.address}}</address></div>
            <div id="birthdate">{{con.contact.birthdate}}</div>
            <div id="cellphone">{{con.contact.cellphone}}</div>
            <div id="email">{{con.contact.email}}</div>
            <div id="github"><a href="{{con.contact.github}}">{{con.contact.github}}</a></div>
            <div id="linkedin"><a href="{{con.contact.linkedIn}}">{{con.contact.linkedIn}}</a></div>
        </div>
    </div>
    <div id="map"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw4bXauoCWz0J0F20VJ9XZgl8LXQb9SE0&callback=initMap">
    </script>
</div>