<div id="section-to-print" class="container white" ng-controller="cvController as con">
    <table>
        <tbody>
            <tr>
                <td ng-controller="personalDataController as per">
                    <div  class="center" id="full_name">{{per.contact.name}}</div>
                    <div class="center" id="adress"><address>{{per.contact.address}}</address></div>
                    <div class="center" id="birthdate">{{per.contact.birthdate}}</div>
                    <div class="center" id="cellphone">{{per.contact.cellphone}}</div>
                    <div class="center" id="email">{{per.contact.email}}</div>
                    <div class="center" id="github"><a href="{{per.contact.github}}">{{per.contact.github}}</a></div>
                </td>
                <td>

                    <img src="images/me.jpg" alt="myself">
                </td>
            </tr>
        </tbody></table>
    <table>
        <tbody>
            <tr>
                <td>
                    <span>{{con.getName('education')}}</span>
                    <div class="educationItem" ng-repeat="ed in con.education">
                        <div class="institution">{{ed.institution}}</div>
                        <ul>
                            <li class="carrer">{{con.getName(ed.carrer)}}</li>
                            <li>
                                <div class="period_init"><span>{{con.getName('since')}}:</span> {{ed.period_init}}</div>
                                <div class="period_finish"><span>{{con.getName('until')}}:</span> {{ed.period_finish}}</div>
                            </li>
                            <li class="place">{{ed.place}}</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <span>{{con.getName('language')}}</span>
                    <ul>
                        <li ng-repeat="l in con.languages">{{con.getName(l.name)}}:{{l.level}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td >Exp laboral</td>
                <td style="max-width: 120px;">exp la otra</td>
            </tr>
            <tr>
                <td>
                    <table ng-controller="experienceController as exp">
                        <tbody>
                            <tr ng-repeat="wk in exp.work">
                                <td>
                                    <div class="enterprise">{{wk.enterprise}}</div>
                                    <div class="period_init">{{exp.getName('since')}}: {{wk.period_init}}</div>
                                    <div class="period_finish">{{exp.getName('until')}}: {{wk.period_finish}}</div>
                                    <div class="place">{{wk.place}}</div>
                                </td>
                                <td>
                                    <div class="rol">{{exp.getName(wk.rol)}}</div>
                                    <div class="work_description">  {{exp.getName(wk.description)}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td>
                    <span>{{con.getName('programming_experience')}}</span>
                    <div>
                        <span  ng-repeat="p in con.programming" class="pLanguage">{{p.language}}</span>
                    </div>
                    <span>{{con.getName('tools')}}</span>
                    <div >
                        <span ng-repeat="(key, value) in con.tools">{{key}}</span>
                    </div>
                    <span>{{con.getName('network_experience')}}</span>
                    <div>
                        <span ng-repeat="(key, value) in con.network">{{key| uppercase}}</span>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <div id="contest">
        <h4>{{con.getName('contests')}}</h4>
        <ul>
            <li class="" ng-repeat="c in con.contests">
                <span class="title">{{con.getName(c.title)}}</span>
                <span class="description">{{con.getName(c.description)}}</span>
            </li>
        </ul>
    </div>
    <div id="projects" ng-controller="projectsController as prj">
        <h4>{{prj.getName('projects')}}</h4>
        <ul>
            <li class="projectItem"  ng-click="prj.details(p)" ng-repeat="p in prj.mainProjects">
                <div class="projectName">{{prj.getName(p.name)}}</div>
                <div class="projectSmallDescription">{{prj.getName(p.description)}}</div>
            </li>
        </ul>
    </div>
</div>