<div id="section-to-print" class="container white" ng-controller="cvController as con">
    <table style="border: 1px solid;">
        <tbody>
            <tr>
                <td ng-controller="personalDataController as per">
                    <div  class="center" id="full_name">{{per.contact.name}}</div>
                    <div class="center" id="adress"><address>{{per.contact.address}}</address></div>
                    <div class="center" id="birthdate">{{per.contact.birthdate}}</div>
                    <div class="center" id="cellphone">{{per.contact.cellphone}}</div>
                    <div class="center" id="email">{{per.contact.email}}</div>
                    <div class="center" id="github"><a href="{{per.contact.github}}">{{per.contact.github}}</a></div>
                </td>
                <td>
                    <img src="images/me.jpg" alt="myself">
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <colgroup>
            <col style="width:70%">
            <col style="width:30%">
        </colgroup>
        <tbody>
            <tr>
                <td style="padding: 4px 5px !important;">
                    <span class="section-title">{{con.getName('education')}}</span>
                </td>
                <td style="padding: 4px 5px !important;">
                    <span class="section-title">{{con.getName('language')}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="educationItem" ng-repeat="ed in con.education">
                        <div class="institution print">{{ed.institution}}</div>
                        <div>
                            <span class="carrer">{{con.getName(ed.carrer)}}</span>
                            <div>
                                <div class="period_init"><span>{{con.getName('since')}}:</span> {{ed.period_init}}</div>
                                <div class="period_finish"><span>{{con.getName('until')}}:</span> {{ed.period_finish}}</div>
                            </div>
                            <span class="place">{{ed.place}}</span>
                        </div>
                    </div>
                </td>
                <td style="vertical-align: text-top">
                    <div ng-repeat="l in con.languages">{{con.getName(l.name)}}:{{con.getName(l.level)}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-controller="experienceController as exp">

        <colgroup>
            <col style="width:30%">
            <col style="width:70%">
        </colgroup>
        <tbody>
            <tr style="border-top :1px solid;border-bottom :1px solid;vertical-align: text-top" class="no-padding">
                <td class="center no-padding" colspan="2"><span class="section-title">{{con.getName('work_experience')}}</span></td>
            </tr>
            <tr style="border-bottom: 1px solid;" ng-repeat="wk in exp.work">
                <td style="vertical-align: text-top;">
                    <div class="enterprise print">{{wk.enterprise}}</div>
                    <div class="period_init">{{exp.getName('since')}}: {{wk.period_init}}</div>
                    <div class="period_finish">{{exp.getName('until')}}: {{wk.period_finish}}</div>
                    <div class="place">{{wk.place}}</div>
                </td>
                <td style="vertical-align: text-top;">
                    <div class="rol print">{{exp.getName(wk.rol)}}</div>
                    <div class="work_description">  {{exp.getName(wk.description)}}</div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <span class="section-title col s12">{{con.getName('programming_experience')}}</span>
        <div class="col s12">
            <span class="line-list-item" ng-repeat="p in con.programming">{{p.language}}</span>
        </div>
        <span class="section-title col s12">{{con.getName('tools')}}</span>
        <div class="col s12">
            <span class="line-list-item" ng-repeat="(key, value) in con.tools">{{key}}</span>
        </div>
        <span class="section-title col s12">{{con.getName('network_experience')}}</span>
        <div class="col s12">
            <span class="line-list-item" ng-repeat="(key, value) in con.network">{{key| uppercase}}</span>
        </div>
    </div>

    <div id="contest" class="row">
        <span class="section-title col s12">{{con.getName('contests')}}</span>
        <div class="col s12" ng-repeat="c in con.contests">
            <span class="title">{{con.getName(c.title)}}</span>
            <span class="description">{{con.getName(c.description)}}</span>
        </div>
    </div>
    <div id="projects" class="row" ng-controller="projectsController as prj">
        <span  class="section-title col s12">{{prj.getName('projects')}}</span>
        <div class="projectItem col s12"  ng-click="prj.details(p)" ng-repeat="p in prj.mainProjects">
            <div class="projectName">{{prj.getName(p.name)}}</div>
            <div class="projectSmallDescription">{{prj.getName(p.description)}}</div>
        </div>
    </div>
</div>