<div id="section-to-print" class="container" >
    <div class="row valign-wrapper  card-panel" ng-controller="personalDataController as per">
        <img src="images/me.jpg" alt="" class="circle responsive-img col s2">
        <div class="col s8">
            <div id="full_name">{{per.contact.name}}</div>
            <div id="adress"><address>{{per.contact.address}}</address></div>
            <div id="birthdate">{{per.contact.birthdate}}</div>
            <div id="cellphone">{{per.contact.cellphone}}</div>
            <div id="email">{{per.contact.email}}</div>
            <div id="github"><a href="{{per.contact.github}}">{{per.contact.github}}</a></div>
        </div>
        <a id="printButton" class="btn-floating btn-large red">
            <i class="large material-icons">print</i>
        </a>
    </div>
    <div class="row"      ng-controller="cvController as con">
        <div id="education" class="col s12 m8">
            <h3>{{con.getName('education')}}</h3>
            <div class="educationItem" ng-repeat="ed in con.education">
                <div class="institution">{{ed.institution}}</div>
                <ul>
                    <li class="carrer">{{con.getName(ed.carrer)}}</li>
                    <li>
                        <div class="period_init">{{con.getName('since')}}: {{ed.period_init}}</div>
                        <div class="period_finish">{{con.getName('until')}}: {{ed.period_finish}}</div>
                    </li>
                    <li class="place">{{ed.place}}</li>
                </ul>
            </div>
        </div>

        <div id="languages" class="col s12 m4">
            <h3>{{con.getName('language')}}</h3>
            <div class="lang" ng-repeat="l in con.languages">
                <div class="language_name">{{con.getName(l.name)}}</div>
                <ul>
                    <li class="certification">{{con.getName('certification')}}:{{l.certification}}</li>
                    <li class="level">{{con.getName('level')}}:{{l.level}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="work" ng-controller="experienceController as exp">
        <h3>{{exp.getName('work_experience')}}</h3>
        <div class="workItem card-panel hoverable" ng-repeat="wk in exp.work">
            <div class="row">
                <div class="col s12 m4">
                    <div class="enterprise">{{wk.enterprise}}</div>
                    <div class="period_init">{{exp.getName('since')}}: {{wk.period_init}}</div>
                    <div class="period_finish">{{exp.getName('until')}}: {{wk.period_finish}}</div>
                    <div class="place">{{wk.place}}</div>
                </div>
                <div class="col s12 m8">
                    <div class="rol">{{exp.getName(wk.rol)}}</div>
                    <div class="work_description">  {{exp.getName(wk.description)}}</div>
                </div>

            </div>
            <div class="row">
                <div class="chip" 
                     ng-repeat="k in wk.keywords.split(',')"> {{k}}</div>
            </div>
        </div>
    </div>

    <div id="programming" ng-controller="cvController as con">
        <h3>{{con.getName('programming_experience')}}</h3>
        <div class="row">
            <div class="programmingItem card-panel hoverable" ng-repeat="p in con.programming">
                {{p.language}}<br />{{con.getName(p.level)}}
            </div>
        </div>
    </div>

    <div class="row" ng-controller="cvController as con">
        <div id="tools" class="col s12 m6">
            <h3>{{con.getName('tools')}}</h3>
            <div class="row">
                <div class="toolsItem card-panel hoverable" ng-repeat="(key,value) in con.tools">
                    {{key}}
                </div>
            </div>
        </div>

        <div id="network" class="col s12 m6">
            <h3>{{con.getName('network_experience')}}</h3>
            <div class="row">
                <div class="networkItem card-panel hoverable" ng-repeat="(key,value) in con.network">
                    {{key| uppercase}}
                </div>
            </div>
        </div>
    </div>
    <div id="projects" ng-controller="projectsController as prj">
        <h3>{{prj.getName('projects')}}</h3>
        <div class="projectItem card-panel hoverable col s12"  ng-click="prj.details(p)" ng-repeat="p in prj.projects">
            <div class="row">
                <div class="projectName col s12">{{prj.getName(p.name)}}</div>
                <div class="projectDescription col s12">{{prj.getName(p.description)}}</div>
                <a class="col s12" href="{{p.demo}}">{{p.demo}}</a>
                <div class="chip" 
                     ng-repeat="k in p.technologies.split(',')"> {{k}}</div>
            </div>
        </div>
    </div>
</div>