<div class="parallax-container" ng-controller="personalDataController as con">
    <div class="white-text col s6" style="position: relative;">
        <h2 class="header">{{con.getName('personal_title')}}</h2>
        <p class="text-darken-3 lighten-3">{{con.getName('personal_description')}}</p>
    </div>
    <div class="parallax"><img alt="Calenques" src="images/main.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">{{con.getName('coding_title')}}</h2>
        <p class="grey-text text-darken-3 lighten-3">{{con.getName('coding_description')}}</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img alt="Google HeadQuarters San Francisco, CA." src="images/main2.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">{{con.getName('traveling_title')}}</h2>
        <p class="grey-text text-darken-3 lighten-3">{{con.getName('traveling_description')}}</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img alt="Eiffel Tower, Paris, France" src="images/main3.jpg"></div>
</div>
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>