<div class="parallax-container" ng-controller="personalDataController as con">
    <div class="hero-overlay white-text">
        <h2 class="animated fadeInDown">{{con.getName('personal_title')}}</h2>
        <p class="animated fadeInUp">{{con.getName('personal_description')}}</p>
    </div>
    <div class="parallax"><img alt="Calenques" src="images/main.jpg"></div>
</div>

<div class="section white" scroll-reveal>
    <div class="row container scroll-reveal">
        <h2 class="header" style="color: #1565c0;">{{con.getName('coding_title')}}</h2>
        <p class="grey-text text-darken-3 lighten-3" style="font-size: 1.1rem; line-height: 1.8;">{{con.getName('coding_description')}}</p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img alt="Google HeadQuarters San Francisco, CA." src="images/main2.jpg"></div>
</div>

<div class="section white" scroll-reveal>
    <div class="row container scroll-reveal">
        <h2 class="header" style="color: #1565c0;">{{con.getName('traveling_title')}}</h2>
        <p class="grey-text text-darken-3 lighten-3" style="font-size: 1.1rem; line-height: 1.8;">{{con.getName('traveling_description')}}</p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img alt="Eiffel Tower, Paris, France" src="images/main3.jpg"></div>
</div>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>
