<div class="sidenav-header">
    <div ng-if="con.firebaseUser" class="sidenav-user">
        <img class="circle" alt="profile" src="{{con.firebaseUser.photoURL}}">
        <span class="sidenav-user-name">{{con.firebaseUser.displayName}}</span>
        <span class="sidenav-user-email">{{con.firebaseUser.email}}</span>
        <button class="btn btn-small waves-effect white blue-text" ng-click="con.signOut()">Sign Out</button>
    </div>
    <div ng-if="!con.firebaseUser" class="sidenav-guest">
        <img class="circle" alt="profile" src="images/me.jpg">
        <span class="sidenav-user-name">Juan Camilo</span>
        <button class="btn btn-small waves-effect white blue-text" ng-click="con.signIn()">Sign In</button>
    </div>
</div>
