<div class="parallax-container">
  <div class="hero-overlay white-text">
    <h2>{{ utils.getName('personal_title') }}</h2>
    <p>{{ utils.getName('personal_description') }}</p>
  </div>
  <div class="parallax-bg" style="background-image: url('images/main.jpg')"></div>
</div>

<section class="section white" appScrollReveal>
  <div class="container">
    <h2 class="section-header">{{ utils.getName('coding_title') }}</h2>
    <p class="section-text">{{ utils.getName('coding_description') }}</p>
  </div>
</section>

<div class="parallax-container">
  <div class="parallax-bg" style="background-image: url('images/main2.jpg')"></div>
</div>

<section class="section white" appScrollReveal>
  <div class="container">
    <h2 class="section-header">{{ utils.getName('traveling_title') }}</h2>
    <p class="section-text">{{ utils.getName('traveling_description') }}</p>
  </div>
</section>

<div class="parallax-container">
  <div class="parallax-bg" style="background-image: url('images/main3.jpg')"></div>
</div>
